{% extends 'admin/layout.html.twig' %}

{% block title %} Liste des posts {% endblock %}

{% block content %}


<div class="example-wrapper sm">
{# No need for that One ? 
<a class="mt-2 mb-2 btn btn-outline-primary btn-lg" href="{{ path('admin_user_create')}}" role= "button"> Nouvel utilisateur </a> #}
    <h1> La liste des posts </h1>
	{# total items count 
	<div class="count">
    {{ postList.getTotalItemCount }}
	</div> #}
        <table class="table text-center sm">
		<thead>
			<tr>
				<th{% if postList.isSorted('p.id') %} class="sorted"{% endif %}>
				{{ knp_pagination_sortable(postList,'Id','p.id')}}</th>
				<th{% if postList.isSorted('p.title') %} class="sorted"{% endif %}>
				{{ knp_pagination_sortable(postList,'Titre','p.title')}}</th>
				<th{% if postList.isSorted('p.display') %} class="sorted"{% endif %}>
				{{ knp_pagination_sortable(postList,'Visible','p.display')}}</th>
				<th{% if postList.isSorted('p.createdAt') %} class="sorted"{% endif %}>
				{{ knp_pagination_sortable(postList,'Date Création','p.createdAt')}}</th>				
				<th>Titre Photo</th>
				<th>Photo</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for postCurrent in postList %}
				<tr>
					<td>{{ postCurrent.id }}</td>
                    <td>{{ postCurrent.title }}</td>
					<td>{% if postCurrent.display%} Oui
						{% else %} Non {% endif %}
					</td>
					<td>{{ postCurrent.createdAt|date("d/m/Y")}}</td>
					<td>{{ postCurrent.picture }}</td>
                    <td>

						{% if postCurrent.picture %}
							<img class="admin-product-image" src="{{ asset('uploads/pictures/' ~ postCurrent.picture) }}"  style="max-width:150px;">
						{% else %}
							<img src="data:image/jpg;base64, {{ postCurrent.pictureBase64 }}" style="max-width:250px;" >
						{% endif %}

                    </td>
					<td class="d-flex">
						<a href="{{ path('admin_post_show', {'id': postCurrent.id}) }}" class="btn btn-outline-success btn-sm">Afficher</a>
						<a href="{{ path('admin_post_edit', {'id': postCurrent.id}) }}" class="btn btn-outline-warning btn-sm ms-2">Modifier</a> 
						{# We should secure this route with a Token #}
						<a href="{{ path('admin_post_delete', {'id': postCurrent.id}) }}" class="btn btn-outline-danger btn-sm ms-2">Supprimer</a> 
						
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(postList) }}
</div>
   
</div>
{% endblock %}
