{% extends 'admin/layout.html.twig' %}

{% block title %} Liste des utilisateurs {% endblock %}

{% block content %}


<div class="example-wrapper sm">
<a class="mt-2 mb-2 btn btn-outline-primary btn-lg" href="{{ path('admin_user_create')}}" role= "button"> Nouvel utilisateur </a>
    <h1> La liste des posts </h1>
        <table class="table sm">
		<thead>
			<tr>
				<th>Id</th>
				<th>titre</th>
				<th>Visible</th>
				<th>Date Création</th>
				<th>Date Modification</th>
				<th>Titre Photo</th>
				<th>Photo</th>
			</tr>
		</thead>
		<tbody>
			{% for postCurrent in postList %}
				<tr>
					<td>{{ postCurrent.id }}</td>
                    <td>{{ postCurrent.title }}</td>
					<td>{{ postCurrent.display }}</td>
					<td>{{ postCurrent.createdAt|date("d/m/Y")}}</td>
					<td>{{ postCurrent.updatedAt |date("m/d/Y") }}</td>
					<td>{{ postCurrent.picture }}</td>
                    <td><picture>
                        <source src="{{ postCurrent.pictureBase64 }} media="(max-width: 100px)">
                    </picture></td>
					<td class="d-flex">
						{# <a href="{{ path('admin_user_show', {'id': postCurrent.id}) }}" class="btn btn-outline-success btn-sm">Afficher</a>
						<a href="{{ path('admin_user_edit', {'id': postCurrent.id}) }}" class="btn btn-outline-warning btn-sm ms-2">Modifier</a> #}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
   
</div>
{% endblock %}
