{% extends 'admin/layout.html.twig' %}

{% block title %} Profil utilisateur {% endblock %}

{% block content %}


<div class="example-wrapper">

    <h3> Detail du post: {{post.title}} </h3>
        <table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ post.id }}</td>
			</tr>
            <tr>
				<th>Title</th>
				<td>{{ post.title }}</td>
			</tr>
            <tr>
				<th>Affichage</th>
				<td>
                {% if post.display %} Oui
                {% else %} Non
                {% endif %}</td>
            <tr>
				<th>Date de création</th>
                <td>{{ post.createdAt|date("d/m/Y")}}</td>
            </tr>
            <tr>
				<th>Dernière modification</th>            
                <td>{{ post.updatedAt |date("m/d/Y") }}</td>
			</tr>
            <tr>
				<th>Photo</th>            
                <td><img src="data:image/jpg;base64, {{ post.pictureBase64 }}"style='max-width:100%;' ></img></td>
			</tr>            

		</tbody>
	</table>
   
</div>
<div class="d-flex"> 
    {# <a class="mt-2 mb-2 btn btn-outline-warning btn-sm" href="{{ path('admin_user_edit', {'id': user.id})}}" role= "button"> Modifier </a>
    {{ include('admin/user/_delete_form.html.twig') }}
</div>

 <a href="{{ path('admin_user_list') }}" class="mt-3 text-decoration-none fst-italic text-info bg-dark w-25 text-center rounded-2"> Retour à la liste des utilisateurs </a> #}

{% endblock %}